totem-clientEJB/src/conf/xml-resources/web-service-references/TotemServidor/wsdl/localhost_8080/totem-servidor/TotemServidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.com.br/">

<xs:element name="integraTotem" type="tns:integraTotem"/>

<xs:element name="integraTotemResponse" type="tns:integraTotemResponse"/>

<xs:complexType name="integraTotem">
<xs:sequence>
<xs:element name="totem" type="tns:totemWrapperIn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totemWrapperIn">
<xs:sequence>
<xs:element name="acesso" type="tns:acesso" minOccurs="0"/>
<xs:element name="cnsPesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="cpfPesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="dataNascimentoPesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="modoConsulta" type="tns:modoConsultaEnum" minOccurs="0"/>
<xs:element name="nomeMaePesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="nomePaiPesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="nomePesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="numeroElementos" type="xs:int" minOccurs="0"/>
<xs:element name="operador" type="tns:operador" minOccurs="0"/>
<xs:element name="sistema" type="tns:sistema" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acesso">
<xs:sequence>
<xs:element name="chave" type="xs:string" minOccurs="0"/>
<xs:element name="dataAcesso" type="xs:dateTime" minOccurs="0"/>
<xs:element name="hash" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operador">
<xs:sequence>
<xs:element name="cns" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sistema">
<xs:sequence>
<xs:element name="banco" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="ibge" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="integraTotemResponse">
<xs:sequence>
<xs:element name="return" type="tns:totemWrapperOut" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totemWrapperOut">
<xs:sequence>
<xs:element name="cnsPesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="cpfPesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="dataNascimentoPesquisa" type="xs:dateTime" minOccurs="0"/>
<xs:element name="modoConsulta" type="tns:modoConsultaEnum" minOccurs="0"/>
<xs:element name="nomeMaePesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="nomePaiPesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="nomePesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="numeroElementos" type="xs:int" minOccurs="0"/>
<xs:element name="operador" type="tns:operador" minOccurs="0"/>
<xs:element name="sistema" type="tns:sistema" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="modoConsultaEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="_001"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>